.subCategoryWrapper {
  display: flex;
  padding-left: 20px;
}
.subCategoryWrapper:not(:last-child) {
  margin-bottom: 2px;
}
.subCategoryCode {
  padding: 0 10px;
  border-radius: 5px;
  display: inline-block;
  background-color: var(--firstLevelColor);
  color: var(--text-white);
}
