.materialWrapper {
  background-color: var(--materialColorAlfa);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  /* padding: 2px; */
  cursor: initial;
}

@media screen and (min-width: 680px) {
  .materialWrapper {
    flex-direction: row;
  }
}

.materialWrapper:hover {
  box-shadow: var(--card-shadow);
}

.materialCode {
  padding: 0 10px;
  border-radius: 5px;
  display: inline-block;
  background-color: var(--materialColor);
  color: var(--text-white);
  min-width: 90px;
  text-align: center;
}

.materialDescription {
  padding-left: 10px;
}
