.materialWrapper {
  background-color: var(--materialColorAlfa);
  display: flex;
  border-radius: 5px;
  /* padding: 2px; */
}

.materialWrapper:not(:last-child) {
  margin-bottom: 2px;
}
.materialWrapper:hover {
  cursor: pointer;
}

.materialCode {
  padding: 0 10px;
  border-radius: 5px;
  display: inline-block;
  background-color: var(--materialColor);
  color: var(--text-white);
  min-width: 90px;
  text-align: center;
}

.materialDescription {
  padding-left: 10px;
}
