.categoryWrapper {
  background-color: var(--materialColorAlfa);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

@media screen and (min-width: 680px) {
  .categoryWrapper {
    flex-direction: row;
  }
}

.categoryWrapper:hover {
  box-shadow: var(--card-shadow);
  background-color: white;
}

.categoryCode {
  padding: 0 10px;
  border-radius: 0 5px 5px 5px;
  display: inline-block;
  background-color: var(--categoryColor);
  color: var(--text-white);
  min-width: 90px;
  text-align: center;
}

.categoryDescription {
  padding-left: 10px;
}

.main {
  background-color: var(--categoryColor);
  border-color: var(--categoryColor);
}
.first {
  background-color: var(--firstLevelColor);
  border-color: var(--firstLevelColor);
}
.second {
  background-color: var(--secondLevelColor);
  border-color: var(--secondLevelColor);
}
.third {
  background-color: var(--thirdLevelColor);
  border-color: var(--thirdLevelColor);
}
