.tableHead {
  /* background-color: black; */
  /* color: white; */
}
.headCell {
  font-size: large;
  padding: 4px 16px;
}
.row {
  background-color: #d9d9d9;
  /* color: white; */
}
.row:hover {
  background-color: #ffffff;
}
