.table {
  /* background-color: #7e7e7e; */
  padding: 8px;
}

.row {
  background-color: #ffffff;
  /* color: white; */
}
/* .row:not(:last-child) {
  margin-bottom: 2px;
} */
.row:hover {
  box-shadow: var(--shadow);
  /* scale: 1.01; */
  /* cursor: pointer; */
}
