.categoryList {
  margin-left: 15px;
  border-left: 1px solid rgb(201, 199, 199);
}

.categoryItem {
  cursor: pointer;
}

.categoryItem:not(:last-child) {
  margin-bottom: 2px;
}

.categoryItem:hover {
  /* box-shadow: var(--card-shadow); */
}

.accordion-toggle {
  height: 0px;
  /* font-size: 18px; */
  opacity: 0;
  transition: opacity 0.3s ease-in-out, height 0.3s 0.3s ease-in-out;
  /* color: #333; */
  /* border-bottom-left-radius: 3px; */
  /* border-bottom-right-radius: 3px; */
}

.animated {
  opacity: 1;
  transition: height 0.3s ease-in-out, opacity 0.3s 0.3s ease-in-out;
}
